body {
    height: 100vh;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
}

.header, .intro, .footer {
    background-color: #1F3937;
}

.intro-title {
    font-size: 48px;
    font-weight: 800; 
    color: #F9FAF8
}

.intro-text {
    font-size: 18px; 
    color: #E5E7EB;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.card-info {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
}

.card, .action {
    color: #3882F6;
}

.quote {
    color: #E5E7EB;
}

.quote-text {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1F2937;
}